body {
    /*padding: 0%;
    margin: 0%;*/
    font-family: "roboto",sans-serif;
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    align-items: center; 
    padding-top: 5px;
    padding-bottom: 5px;
    
    img {
        margin: auto;
    }
}
.pre-loader
{
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: #f2f2f2;
    animation: temps 4s forwards;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s linear infinite;
  }
}
@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
@keyframes temps{
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
  
.block1{
    display: flex;

    .localisation { 
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
        background-color: #f2f2f2;
        width: 50%;
        h1 {
            font: bold;
            padding-left: 2%;
            padding-right: 1%;
            text-align: center;
        }
        .map-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0%; 
            background-color: #e5e5e5;
            box-shadow: 0px 3px 3px #73737338 inset;   
        }
        span {
            display: flex;
            align-items: center;
            padding-left: 2%;
            height: 30px;
        }
        div {
            padding-bottom: 1%;
            padding-left: 2%;
            text-align: center;
        }
        button {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            height: 40px;
            width:40%;
            border-radius:20px;
            background-color: #9356DC;
            background-image:radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
            align-items: center;
            color:white;
            margin-left: 0;
            margin-top: 4%;
        } 
    }

    .conteneur-f {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 48%;

        h2 {
            display: flex;
            width: 98%;
            padding-left: 2%;
        }
        .bloc-fonction {
            display: flex;
            flex-wrap: wrap;
            border-radius: 18px;
            background-color: #f6f6f6;
            height: 60px;
            align-items: center;
            margin-bottom: 15px;
            margin-left: 20px ;
            
            &:hover{
                transform: scale(1.015);
                cursor: pointer;
                transition-duration: 0.2s;    
            }
            .fas{
                padding-left:20px;
                padding-right: 20px;
            }
            span{
                margin-left: -2%;
                border-radius: 30px;
                align-items: center;
                color: white;
                background-color: #9356DC;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
             }
        }
    }
}
.conteneur-r {                                          /*conteneur restaurants*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    text-decoration: none;
    h2 {
    display: flex;
    width: 100%;
    padding-left: 2%; 
    }

.bloc-rest {                                        /*bloc restaurants*/
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    
    &:hover {
        transform: scale(1.015);
        cursor: pointer;
        transition-duration: 0.2s;
    }
    a{
        position: relative;
        text-decoration: none;
    }
    .card_new{
        background-color: #99e2d0;
        color: #1b6150;
        padding: 8px;
        border-radius: 0px;
        position: absolute;
        top:5% ;
        left: 85%;
        
    }
    .legende-br {
        display: flex;
        flex-direction: column;
        padding-right: 3%;
        }
        .fas {
            display: flex;
            justify-content: right;
            bottom: 1em;
            color:linear-gradient(#9356DC, #FF79DA);;
            cursor: pointer;
            position: absolute;
            right: 1%;
            transition: all .2s ease-in-out;
            background-color: linear-gradient (162 deg,#FF79DA 0%, #9356DC 100%);
            opacity: 0%;
            &:hover{
                transform: scale(1.25);
                cursor: pointer;
                transition-duration: infinite;
                transition: all .5s ease-in-out;
                opacity: 100%;
            }
        }
        .far{
            display: flex;
            justify-content: right;
            bottom: 1em;
            color: #000;
            cursor: pointer;
            position: absolute;
            right: 1%;
            transition: all .2s ease-in-out;
            background-color: linear-gradient (162 deg,#FF79DA 0%, #9356DC 100%);
            opacity: 100%;
            &:hover{
                transform: scale(1.25);
                cursor: pointer;
                transition-duration: infinite;
                transition: all .5s ease-in-out;
                opacity:0%;
            }
        }
        h3, span {
            padding-left: 2%;
            margin: 0px;
            padding-top: 3%;
        }
    }
    
    img {
    height: 170px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    }  
}

   

                                                            /* MENU 4 PAGES*/

.images-restaurants{
    display: flex;
    flex-direction: column;
    .img-restaurant{
        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        object-fit: cover;
        height: 500px;
    }
}   

.bloc-alf{
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    background-color: #f2f2f2;
    margin-top: -180px;
    position: relative;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    .block2{
        display: flex;
        flex-wrap: wrap;
    }
    h3{
        position: relative;
        padding-left: 20px;
        font-family: 'Shrikhand',"cursive";
        width: 100%;
        font-size: xxx-large;
    }
}
.heart{
    position: relative;
    padding-right: 2%;
    text-align: right;
    margin-top: -30px;
    .far{
        
        opacity: 100%;
        &:hover{
            transform: scale(1);
            cursor: pointer;
            transition-duration: infinite;
            transition: all .5s ease-in-out;
            background: linear-gradient(#9356DC, #FF79DA);
            font-weight: 600;
            opacity: 0;
        }
    }
    .fas{
        color: linear-gradient(#9356DC, #FF79DA);
        margin-left: -37px;
        opacity: 0;
        &:hover{
            transform: scale(1.4);
            cursor: pointer;
            transition-duration: infinite;
            transition: all .5s ease-in-out;
            opacity: 100%;
            background: linear-gradient(#9356DC, #FF79DA);
            font-weight: 600;
        }
    }
}
   
button{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    width:40%;
    border-radius:20px;
    background-color: purple;
    background-image:radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
    align-items: center;
    color:white;
    margin-top: 10%;
    margin-left: 30%;  
}  

.entrees-plats-desserts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    h4{
        font-family: "roboto",sans-serif;
        margin: 20px;
        border-bottom: 3px solid yellowgreen;
        width: 10px;
        display: inline-block;
        padding: 20px 35px 15px;
        border-bottom:3px solid yellowgreen;
        width: 30px;
    }
}
.card-menu{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    box-shadow: 3px 3px 10px #dedada;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: scroll;
    
    h5{
        display: flex;
        padding-top: 15px;
        padding-bottom: 5px;
        font-size:15px ;
        width: 100%;
        margin: 0;
    }
    div{
        display: flex;
        justify-content: space-between;
        width: 35%;
        padding:0 0 0 0px;
        white-space: nowrap;
    }
    span{
        padding-left: 50%;
        & :hover{
            cursor: pointer;   
        }
    }
    .prix-anim{   
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #99e2d0;
        width: 30%;
        color: #fff;
        font-size: 30px;
        
        opacity: 0;
        &:hover{
            transition: all .4s ease-in-out;
            animation: checkprice 1s 1 ease-in-out;
            opacity: 100%;
        }
    }       
}
   
@keyframes checkprice{
    0% {
        transform: rotateZ(100deg);
    }
    50% {
        transform: rotateZ(-50deg);
    }
    100% {
        transform: rotateZ(0deg);
    }    
}


footer {
    background-color: #353535;
    width: 100%;
    color:white;
    font-size:12px;
    padding-top: 1%;
    
    li {
        list-style-type: none;
        padding: 2px;
        .omf {  
        font-size: 25px;  
        color: #fff;
        font-family: 'Shrikhand',"cursive";
        }
    }       
}

@media only screen and (min-width: 0px) and (max-width: 767px){
    .block1 .conteneur-f{
        width: 95%;
      
    }
    .block1 .localisation{
        width: 100%;
       
    }
    .conteneur-r .bloc-rest .card_new{
        display: flex;
        position: absolute;
        left: 70%;
        top: 5%;
    }
    .block1{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .entrees-plats-desserts{
        width: 100%;
    }
    .card-menu{
        width: 80%;
    }
}
    

@media only screen and (min-width: 768px){
    .conteneur-r .bloc-rest{
        display: flex;
        width: 43%;

        a{
            position: relative;
        }
    }
    .conteneur-r .bloc-rest .card_new{
        display: flex;
        position: absolute;
        left: 70%;
        top: 5%;
    }
    .block1{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .card_menu{
        width: 30%;
        display: flex;
        flex-wrap: wrap;
    }
    
}