body {
  font-family: "roboto",sans-serif;
  max-width: 1440px;
  margin: auto;
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #f7f7f7;
          box-shadow: 0 0 10px #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}

.pre-loader {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #f2f2f2;
  -webkit-animation: temps 2s forwards;
          animation: temps 2s forwards;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-loader .loader {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes temps {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes temps {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block1 .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  width: 100%;
}

.block1 .localisation h1 {
  font: bold;
  padding-left: 2%;
  padding-right: 1%;
  text-align: center;
}

.block1 .localisation .map-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0%;
  background-color: #e5e5e5;
  -webkit-box-shadow: 0px 3px 3px #73737338 inset;
          box-shadow: 0px 3px 3px #73737338 inset;
}

.block1 .localisation span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  height: 30px;
}

.block1 .localisation div {
  padding-bottom: 1%;
  padding-left: 2%;
  text-align: center;
}

.block1 .localisation button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40px;
  width: 40%;
  border-radius: 20px;
  background-color: #9356DC;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: 0;
  margin-top: 4%;
}

.block1 .conteneur-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block1 .conteneur-f h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 2%;
}

.block1 .conteneur-f .bloc-fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 18px;
  background-color: #f6f6f6;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  margin-left: 20px;
  width: 30%;
  padding-left: 3%;
}

.block1 .conteneur-f .bloc-fonction:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.block1 .conteneur-f .bloc-fonction .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
}

.block1 .conteneur-f .bloc-fonction span {
  margin-left: -13%;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteneur-r {
  /*conteneur restaurants*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  text-decoration: none;
}

.conteneur-r h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 2%;
}

.bloc-rest {
  /*bloc restaurants*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F2F2;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 5px lightgrey;
          box-shadow: 2px 2px 5px lightgrey;
  width: 100%;
  margin-bottom: 6%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
}

.bloc-rest:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.bloc-rest img {
  /*images restaurants*/
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 15em;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bloc-rest a {
  position: relative;
  text-decoration: none;
}

.bloc-rest .card-new {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 0px;
  position: absolute;
  top: 5%;
  left: 85%;
}

.bloc-rest .legende-br {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 3%;
  text-decoration: none;
  color: #000;
}

.bloc-rest .legende-br .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  bottom: 1em;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 85%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 0%;
}

.bloc-rest .legende-br .fas:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 100%;
  background-color: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
}

.bloc-rest .legende-br .far {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  bottom: 1em;
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 85%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 100%;
}

.bloc-rest .legende-br .far:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0%;
}

.bloc-rest .legende-br h3, .bloc-rest .legende-br span {
  padding-left: 2%;
  margin: 0px;
  padding-top: 2%;
  text-decoration: none;
}

/* MENU 4 PAGES*/
.images-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
}

.images-restaurants .img-restaurant {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.bloc-alf {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f2f2f2;
  margin-top: -180px;
  position: relative;
  padding-bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc-alf .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc-alf .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3%;
}

.bloc-alf h3 {
  position: relative;
  padding-left: 20px;
  font-family: 'Shrikhand',"cursive";
  font-size: xx-large;
}

.heart {
  position: relative;
  padding-right: 2%;
  text-align: right;
  margin-top: -70px;
}

.heart .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  bottom: 1em;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 85%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 0%;
  background-color: #9356DC;
}

.heart .fas:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 100%;
}

.heart .far {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  bottom: 1em;
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 85%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 100%;
}

.heart .far:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0%;
}

button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40px;
  width: 135px;
  border-radius: 20px;
  background-color: purple;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 4%;
}

button:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.entrees-plats-desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.entrees-plats-desserts h4 {
  font-family: "roboto",sans-serif;
  border-bottom: 3px solid yellowgreen;
  width: 10px;
  border-bottom: 3px solid yellowgreen;
  width: 22px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  padding-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 100%;
  padding-top: 3%;
}

.card-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  padding-left: 15px;
  -webkit-box-shadow: 3px 3px 10px #dedada;
          box-shadow: 3px 3px 10px #dedada;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3%;
  width: 357px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}

.card-menu h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  width: 100%;
  margin: 0;
}

.card-menu .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 88%;
}

.card-menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-menu span :hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.prix-anim {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  overflow: hidden;
  color: #fff;
  font-size: 30px;
  opacity: 0;
  margin-left: 91%;
  margin-top: -16%;
}

.prix-anim:hover {
  opacity: 100%;
  height: 100%;
  width: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.prix-anim .fas:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation: checkprice 2s 1 ease-in-out;
          animation: checkprice 2s 1 ease-in-out;
}

@-webkit-keyframes checkprice {
  0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
    width: 10%;
  }
  50% {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg);
    width: 20%;
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    width: 30%;
  }
}

@keyframes checkprice {
  0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
    width: 10%;
  }
  50% {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg);
    width: 20%;
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    width: 30%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #353535;
  width: 100%;
  color: white;
  font-size: 20px;
  padding-top: 1%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer li {
  list-style-type: none;
  padding-left: 90px;
}

footer li .omf {
  font-size: 25px;
  color: #fff;
  font-family: 'Shrikhand',"cursive";
  margin-top: -6px;
}

@media only screen and (max-width: 810px) {
  .block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block1 .conteneur-f {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block1 .bloc-fonction {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0px;
  }
  .block1 .bloc-fonction span {
    margin-left: -1%;
  }
  .localisation {
    width: 100%;
  }
  .card-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 80%;
    top: 5%;
  }
  .block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .entrees-plats-desserts {
    width: 100%;
  }
  .card-menu {
    width: 80%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer li {
    width: 100%;
  }
}

@media only screen and (min-width: 811px) {
  .bloc-rest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 43%;
  }
  .bloc-rest a {
    position: relative;
  }
  .card-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 70%;
    top: 5%;
  }
  .block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .span {
    margin-left: -13%;
  }
}
/*# sourceMappingURL=style.css.map */