body {
  /*padding: 0%;
    margin: 0%;*/
  font-family: "roboto",sans-serif;
  max-width: 1440px;
  margin-inline: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

header img {
  margin: auto;
}

.pre-loader {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #f2f2f2;
  -webkit-animation: temps 4s forwards;
          animation: temps 4s forwards;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-loader .loader {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes temps {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes temps {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block1 .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  width: 50%;
}

.block1 .localisation h1 {
  font: bold;
  padding-left: 2%;
  padding-right: 1%;
  text-align: center;
}

.block1 .localisation .map-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0%;
  background-color: #e5e5e5;
  -webkit-box-shadow: 0px 3px 3px #73737338 inset;
          box-shadow: 0px 3px 3px #73737338 inset;
}

.block1 .localisation span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  height: 30px;
}

.block1 .localisation div {
  padding-bottom: 1%;
  padding-left: 2%;
  text-align: center;
}

.block1 .localisation button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40px;
  width: 40%;
  border-radius: 20px;
  background-color: #9356DC;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: 0;
  margin-top: 4%;
}

.block1 .conteneur-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.block1 .conteneur-f h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  padding-left: 2%;
}

.block1 .conteneur-f .bloc-fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 18px;
  background-color: #f6f6f6;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  margin-left: 20px;
}

.block1 .conteneur-f .bloc-fonction:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.block1 .conteneur-f .bloc-fonction .fas {
  padding-left: 20px;
  padding-right: 20px;
}

.block1 .conteneur-f .bloc-fonction span {
  margin-left: -2%;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteneur-r {
  /*conteneur restaurants*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  text-decoration: none;
}

.conteneur-r h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 2%;
}

.conteneur-r .bloc-rest {
  /*bloc restaurants*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F2F2;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 5px lightgrey;
          box-shadow: 2px 2px 5px lightgrey;
  width: 100%;
  margin-bottom: 5%;
  padding-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.conteneur-r .bloc-rest:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.conteneur-r .bloc-rest a {
  position: relative;
  text-decoration: none;
}

.conteneur-r .bloc-rest .card_new {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 0px;
  position: absolute;
  top: 5%;
  left: 85%;
}

.conteneur-r .bloc-rest .legende-br {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 3%;
}

.conteneur-r .bloc-rest .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  bottom: 1em;
  color: linear-gradient(#9356DC, #FF79DA);
  cursor: pointer;
  position: absolute;
  right: 1%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: linear-gradient 162 deg, #FF79DA 0%, #9356DC 100%;
  opacity: 0%;
}

.conteneur-r .bloc-rest .fas:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 100%;
}

.conteneur-r .bloc-rest .far {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  bottom: 1em;
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 1%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: linear-gradient 162 deg, #FF79DA 0%, #9356DC 100%;
  opacity: 100%;
}

.conteneur-r .bloc-rest .far:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0%;
}

.conteneur-r .bloc-rest h3, .conteneur-r .bloc-rest span {
  padding-left: 2%;
  margin: 0px;
  padding-top: 3%;
}

.conteneur-r img {
  height: 170px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MENU 4 PAGES*/
.images-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.images-restaurants .img-restaurant {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.bloc-alf {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f2f2f2;
  margin-top: -180px;
  position: relative;
  padding-bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc-alf .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bloc-alf h3 {
  position: relative;
  padding-left: 20px;
  font-family: 'Shrikhand',"cursive";
  width: 100%;
  font-size: xxx-large;
}

.heart {
  position: relative;
  padding-right: 2%;
  text-align: right;
  margin-top: -30px;
}

.heart .far {
  opacity: 100%;
}

.heart .far:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: 600;
  opacity: 0;
}

.heart .fas {
  color: linear-gradient(#9356DC, #FF79DA);
  margin-left: -37px;
  opacity: 0;
}

.heart .fas:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  cursor: pointer;
  -webkit-transition-duration: infinite;
          transition-duration: infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: 600;
}

button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40px;
  width: 40%;
  border-radius: 20px;
  background-color: purple;
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 10%;
  margin-left: 30%;
}

.entrees-plats-desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
}

.entrees-plats-desserts h4 {
  font-family: "roboto",sans-serif;
  margin: 20px;
  border-bottom: 3px solid yellowgreen;
  width: 10px;
  display: inline-block;
  padding: 20px 35px 15px;
  border-bottom: 3px solid yellowgreen;
  width: 30px;
}

.card-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  -webkit-box-shadow: 3px 3px 10px #dedada;
          box-shadow: 3px 3px 10px #dedada;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  overflow: scroll;
}

.card-menu h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  width: 100%;
  margin: 0;
}

.card-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  padding: 0 0 0 0px;
  white-space: nowrap;
}

.card-menu span {
  padding-left: 50%;
}

.card-menu span :hover {
  cursor: pointer;
}

.card-menu .prix-anim {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  width: 30%;
  color: #fff;
  font-size: 30px;
  opacity: 0;
}

.card-menu .prix-anim:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-animation: checkprice 1s 1 ease-in-out;
          animation: checkprice 1s 1 ease-in-out;
  opacity: 100%;
}

@-webkit-keyframes checkprice {
  0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
  }
  50% {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes checkprice {
  0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
  }
  50% {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

footer {
  background-color: #353535;
  width: 100%;
  color: white;
  font-size: 12px;
  padding-top: 1%;
}

footer li {
  list-style-type: none;
  padding: 2px;
}

footer li .omf {
  font-size: 25px;
  color: #fff;
  font-family: 'Shrikhand',"cursive";
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .block1 .conteneur-f {
    width: 95%;
  }
  .block1 .localisation {
    width: 100%;
  }
  .conteneur-r .bloc-rest .card_new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 70%;
    top: 5%;
  }
  .block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .entrees-plats-desserts {
    width: 100%;
  }
  .card-menu {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .conteneur-r .bloc-rest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 43%;
  }
  .conteneur-r .bloc-rest a {
    position: relative;
  }
  .conteneur-r .bloc-rest .card_new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 70%;
    top: 5%;
  }
  .block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card_menu {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */